.work {
    gap: 2rem;
    width: 30%;
}

.work-link {
    display: block;
}

.work-img {
    width: 100%;
}

.work-title, .work-size, .work-price {
    color: var(--color-black);
    font-weight: var(--fw-300);
    text-transform: uppercase;
}

.work-title {
    font-size: 3.2rem;
}

.work-size {
    font-size: 1.6rem;
}

.work-price {
    color: #565656;
    font-size: 2.4rem;
}

.work-details {
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 461px) { 
    .work-title {
        font-size: 2rem;
    }

    .work-size {
        font-size: 1.2rem;
    }

    .work-price {
        font-size: 1.6rem;
    }
}

@media screen and (min-width: 461px) and (max-width: 761px) { 
    .work {
        width: 40%;
    }

    .work-title {
        font-size: 2.3rem;
    }

    .work-size {
        font-size: 1.5rem;
    }

    .work-price {
        font-size: 1.8rem;
    }
}