.home {
    padding-top: 100vh;
}

@media screen and (max-width: 461px) { 
    .home {
        max-width: 460px;
        padding-top: 23rem;
    }
}

@media screen and (min-width: 461px) and (max-width: 761px) { 
    .home {
        max-width: 760px;
        padding-top: 60vw;
    }
}