.header {
    justify-content: space-between;
    padding: 4.4rem 12rem;
    align-items: center;
    z-index: 1;
}

.header-nav {
    gap: 10rem;
    align-items: center;
}

.header-nav__item {
    text-transform: uppercase;
    font-weight: var(--fw-300);
    color: var(--color-black);
    font-size: 2rem;
}

.bag-logo {
    position: relative;
}

.bag-logo__count {
    position: absolute;
    top: -1rem;
    left: 55%;
    font-size: 1.5rem;
    background-color: var(--color-black);
    color: var(--color-white);
    background-color: var(--color-white);
    color: var(--color-black);
    border-radius: 1rem;
    border: 1px solid var(--color-black);
    width: max-content;
    padding: .5rem 1rem;
    margin: 0 auto;
    font-weight: 600;
}

@media screen and (max-width: 461px) { 
    .header {
        width: 100%;
        max-width: 460px;
        padding: 2rem;
    }

    .header-nav {
        gap: 1rem;
    }
    
    .header-nav__item {
        font-size: 1.2rem;
    }

    .logo img  {
        max-width: 5rem;
        max-height: 5rem;
    }

    .bag-logo img{
        max-width: 3rem;
    }
}


@media screen and (min-width: 461px) and (max-width: 761px) { 
    .header {
        width: 100%;
        max-width: 760px;
        padding: 2rem;
    }

    .header-nav {
        gap: 1.5rem;
    }
    
    .header-nav__item {
        font-size: 1.8rem;
    }
}