.section {
    padding: var(--padding);
    gap: 4.6rem;
    justify-content: start;
    min-height: 65vh;
}

@media screen and (max-width: 461px) { 
    .section {
        padding: var(--420-padding);
        width: 100%;
        max-width: 46rem;
        gap: 2rem;
    }
}

@media screen and (min-width: 461px) and (max-width: 761px) { 
    .section {
        padding: var(--420-padding);
        width: 100%;
        max-width: 72rem;
        height: auto;
        gap: 2rem;
        min-height: auto;
    }
}