.section {
    padding: var(--padding);
    gap: 4.6rem;
    justify-content: start;
    min-height: 65vh;
}

@media screen and (max-width: 461px) { 
    .section {
        padding: var(--420-padding);
        width: 100%;
        max-width: 46rem;
        gap: 2rem;
    }
}