.order-item {
    width: 100%;
    border: 1px solid var(--color-gray);
    justify-content: space-between;
    padding : 4rem;
}

.order-item__product {
    gap: 2rem;
}

.order-item__img {
    width: 20rem;
}

.order-item__title {
    font-size: 2.4rem;
    font-weight: var(--fw-400);
    text-transform: uppercase;
}

.order-item__counter {
    justify-content: space-around;
    width: 30rem;
}

.counter {
    justify-content: space-between;
    align-items: center;
}

.order-item__btn {
    background-color: var(--color-black);
    color: var(--color-white);
    text-transform: uppercase;
    font-size: 2rem;
    padding: 1rem;
    border: none;
    font-weight: var(--fw-400);
    min-width: 5rem;
}

@media screen and (max-width: 461px) { 
    .order-item {
        padding: 1.5rem;
        gap: 2rem;
    }

    .order-item__img {
        width: auto;
        max-width: 10rem;
    }

    .order-item__product {
        gap: 1rem;
    }

    .order-item__title {
        font-size: 1.8rem;
    }

    .order-item__counter {
        width: 70%;
    }

    .counter {
        width: 100%;
    }

    .order-footer {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .order-item__btn {
        font-size: 1.5rem;
        min-width: 4rem;
        width: max-content;
    }
}