.footer {
    background-color: var(--color-gray);
    justify-content: space-between;
    padding: 8rem 13rem 4rem 13rem;
}

.footer-links {
    gap: 4rem;
}

.footer-links__column {
    gap: 2rem;
}

.footer-links__column-item {
    font-weight: var(--fw-300);
    color: var(--color-black);
    font-size: 2rem;
    text-transform: uppercase;
}

.footer-links__column-media {
    gap: 1rem;
    align-items: center;
}

.footer-links__column-media p {
    font-size: 1.6rem;
    font-weight: var(--fw-300);
    color: var(--color-black);
}

@media screen and (max-width: 461px) { 
    .footer {
        padding: 2rem;
        flex-wrap: wrap;
        align-items: center;
        gap: 3rem;
        width: 100%;
        max-width: 460px;
        justify-content: center;
    }

    .footer-links:first-child {
        display: none;
    }

    .footer-logo img {
        max-width: 5rem;
    }

    .footer-links__column-item {
        font-size: 1.6rem;
    }

    .footer-links:nth-child(3) {
        margin: 0 10%;
        justify-content: space-between;
        width: 100%;
    }

    .footer-links__column-media p {
        font-size: 1.2rem;
    }
}

@media screen and (min-width: 461px) and (max-width: 761px) { 
    .footer {
        padding: 2rem;
        flex-wrap: wrap;
        align-items: center;
        gap: 3rem;
        width: 100%;
        max-width: 760px;
        justify-content: center;
    }

    .footer-links:first-child {
        display: none;
    }

    .footer-logo img {
        max-width: 5rem;
    }

    .footer-links__column-item {
        font-size: 1.6rem;
    }

    .footer-links:nth-child(3) {
        margin: 0 10%;
        justify-content: center;
        width: 100%;
    }

    .footer-links__column-media p {
        font-size: 1.2rem;
    }

}