.home-about {
    padding: var(--padding);
    gap: 6rem;
}

.home-about__description{
    gap: 6rem;
}

.quote {
    font-style: italic;
    font-weight: 275;
    font-size: 1.8rem;
    color: var(--color-black);
    width: 50%;
    margin-left: 50%;
}

.description {
    color: var(--color-black);
    font-size: 2rem;
    font-weight: var(--fw-300);
}

@media screen and (max-width: 461px) { 
    .home-about {
        flex-wrap: wrap;
        padding: var(--420-padding);
    }

    .quote {
        margin-left: 20%;
        width: auto;
        font-size: 1.5rem;
    }

    .home-about__banner {
        width: 100%;
        max-width: 45rem;
    }

    .description {
        font-size: 1.4rem;
    }
}

@media screen and (min-width: 461px) and (max-width: 761px) { 
    .home-about {
        flex-wrap: wrap;
        padding: var(--420-padding);
    }

    .home-about__banner {
        margin: 0 auto;
    }
}