.interior-head {
    justify-content: space-between;
    align-items: center;
}

.interior-head .description {
    width: 50%;
}

@media screen and (max-width: 461px) { 
    .interior-head {
        align-items: first baseline;
        flex-wrap: wrap;
        gap: 2rem;
    }

    .interior-head .description {
        width: auto;
    }
}

@media screen and (min-width: 461px) and (max-width: 761px) { 
    .interior-head {
        align-items: first baseline;
        flex-wrap: wrap;
        gap: 2rem;
    }

    .interior-head .description {
        width: auto;
    }
}