.home-interior {
    padding: var(--padding);
    gap: 4.6rem;
}

.home-interior__description {
    justify-content: space-between;
    align-items: center;
}

.home-interior__description .description {
    width: 50%;
}

@media screen and (max-width: 461px) {
    .home-interior {
        padding: 2rem;
        gap: 2rem;
    }

    .home-interior__description {
        flex-wrap: wrap-reverse;
        gap: 2rem;
    }

    .home-interior__description .description {
        width: 80%;
    }
}

@media screen and (min-width: 461px) and (max-width: 761px) { 
    
    .home-interior {
        padding: var(--420-padding);
        align-items: center;
        gap: 2rem;
    }
}